<span id="user_nav">
  <%= link_to "Sign up", new_user_registration_path %> | 
  <%= link_to "Log in", new_user_session_path %> | 
  <%= link_to "Log in with Facebook", "/users/auth/facebook", id: "log_in" %>
</span>
