/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@import "bootstrap-sprockets";
@import "bootstrap";

.content_column {
  @extend .col-sm-offset-1;
  @extend .col-sm-10;
  @extend .col-md-offset-2;
  @extend .col-md-8;
  @extend .col-lg-offset-3;
  @extend .col-lg-6;
  img {
    float: right;
    width: 33%;
  }
}

#article_nav {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

td {
  vertical-align: middle
}
img {
  margin: auto 2px;
}

.notice, .error, .alert {
  padding: 5px 8px;
  margin: 10px 10px;
  clear: both;
  text-align: center;
}

.notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.error {
  background-color: #FCC;
  border: solid 1px #C66;
}


// DO NOT REQUIRE TREE! It will interfere with load order!

// Account for differences between Rails and Webpack Sass code.
$rails: true;

// Included from bootstrap-sprockets gem and loaded in app/assets/javascripts/application.rb
@import 'bootstrap-sprockets';

// Customizations - needs to be imported after bootstrap-sprocket but before bootstrap-custom!
// The _pre-bootstrap.scss file is located under
// client/assets/stylesheets, which has been added to the Rails asset
// pipeline search path. See config/application.rb.
@import 'pre-bootstrap';

// These scss files are located under client/assets/stylesheets
// (which has been added to the Rails asset pipeline search path in config/application.rb).
@import 'bootstrap-custom';
@import 'comments';
// This must come after all the boostrap styles are loaded so that these styles can override those.
@import 'post-bootstrap';

