@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

.navbar {
  height: 55px;
  padding-top: 2px;
}

// .spacer_column {
//   @extend .col-sm-1;
//   @extend .col-md-2;
//   @extend .col-lg-3;
// }
.content_column {
  @extend .col-sm-offset-1;
  @extend .col-sm-10;
  @extend .col-md-offset-2;
  @extend .col-md-8;
  @extend .col-lg-offset-3;
  @extend .col-lg-6;
  img {
    float: right;
    width: 33%;
  }
  form {
margin-top: 35px;
  }
}

#article_nav {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.comment_body {
  margin-top: 35px;
  margin-bottom: 12px;
}

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

img {
  margin: auto 2px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 10px;
  clear: both;
  text-align: center;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}


