// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment-form {
  padding-top: 18px;
  padding-bottom: 24px;
}

#comment-login-prompt {
  padding-top: 35px;
  padding-bottom: 210px;
}

.comment-body {
  margin-top: 36px;
  margin-bottom: 12px;
}

.comment-alert {
  @extend .alert;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 12px;
}

.user-comment {
  @extend .comment-body !optional;
  background-color: lightgrey;
}

.comment-enter {
  background-color: #CCFFFF;
}

.comment-enter.comment-enter-active {
  background-color: white;
  transition: background-color 1000ms ease-in;
}

.comment-header {
  font-weight: bold;
}

.comment-byline {
  font-size: smaller;
  margin-bottom: 12;
}
