// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments-submission {
  margin-top: 35px;
}

.comment-header {
  font-weight: bold;
}

.comment-byline {
  font-size: smaller;
}
